<div id="table-container"
     class="jtags-table"
     hx-get="{config.baseUrl}"
     hx-include="#table-actions"
     hx-target="#table-container"
     hx-swap="outerHTML"
     hx-trigger="table-refresh from:body"
>
    <div id="table-actions" class="jtags-table__toolbar">
        <div class="jtags-table__toolbar-left">
            {#if config.showCheckbox}
                <input type="checkbox" id="select-all"/>
            {/if}
            {#for action in config.toolbarActions}
                {#if action.selectionBased}
                    <button class="jtags-table__action jtags-table__action--selection jtags-hidden"
                            title="{action.label}"
                            data-key="{action.key}"
                            data-url="{action.url}"
                            data-method="{action.method}"
                            data-confirm="{action.confirm}"
                            data-confirm-message="{action.confirmMessage}"
                    >
                        <svg class="jtags-icon">
                            <use href="{config.iconBasePath}#jtags-icon-{action.icon}"></use>
                        </svg>
                        {#if action.showLabel}
                            <span class="jtags-table__action-label">{action.label}</span>
                        {/if}
                    </button>
                {/if}
            {/for}
        </div>
        <div class="jtags-table__toolbar-right">
            {#if config.showSearch}
                <label for="searchField">Search Field</label>
                <select id="searchField"
                        name="searchField"
                >
                    <option value="">Select a Field</option>
                    {#each config.columns}
                        {#if config.searchableFields.contains(it.key) }
                            <option value="{it.key}" {#if state.searchField == it.key}selected{/if}>{it.label}</option>
                        {/if}
                    {/each}
                </select>
                <label for="search">Search</label>
                <input id="search" name="search" type="text" placeholder="Search"
                       hx-get="{config.baseUrl}?sort={state.sortBy}&asc={state.ascending}&page=1"
                       hx-include="#table-actions"
                       hx-target="#table-container"
                       hx-swap="outerHTML"
                       hx-trigger="keyup changed delay:300ms"
                       hx-push-url="true"
                       value="{state.searchTerm}"
                />
            {/if}
            <!-- search inputs -->
            {#for action in config.toolbarActions}
                {#if ! action.selectionBased}
                    <button class="jtags-table__action jtags-table__action--global"
                            title="{action.label}"
                            data-key="{action.key}"
                            data-url="{action.url}"
                            data-method="{action.method}"
                            data-confirm="{action.confirm}"
                            data-confirm-message="{action.confirmMessage}"
                    >
                        <svg class="jtags-icon">
                            <use href="{config.iconBasePath}#jtags-icon-{action.icon}"></use>
                        </svg>
                        {#if action.showLabel}
                            <span class="jtags-table__action-label">{action.label}</span>
                        {/if}
                    </button>
                {/if}
            {/for}
        </div>
    </div>
    <div id="selection-banner" class="jtags-table__banner jtags-hidden"
         data-total-items="{state.page.totalItems}"
         data-page-size="{state.page.pageSize}">
        <p>All {state.page.pageSize} items on this page selected.
            <a id="select-all-matching" href="#">Select all {state.page.totalItems}?</a>
        </p>
    </div>
    <table class="jtags-table__grid">
        <thead>
        <tr class="jtags-table__row">
            {#if config.showCheckbox}
                <th class="jtags-table__header jtags-table__header--checkbox"></th>
            {/if}
            {#for column in config.columns}
                <th
                        class="jtags-table__header jtags-table__header--sortable"
                        style="cursor: pointer"
                        hx-get="{config.baseUrl}?sort={column.key}&asc={#if column.key == state.sortBy}{#if state.ascending}false{#else}true{/if}{#else}true{/if}&page=1"
                        hx-include="#table-actions"
                        hx-target="#table-container"
                        hx-swap="outerHTML"
                        hx-push-url="true"
                >
                    {column.label}
                    {#if column.key == state.sortBy}
                        {#if state.ascending}
                            <svg class="jtags-icon">
                                <use href="{config.iconBasePath}#jtags-icon-sort-asc"></use>
                            </svg>
                        {#else}
                            <svg class="jtags-icon">
                                <use href="{config.iconBasePath}#jtags-icon-sort-desc"></use>
                            </svg>
                        {/if}
                    {/if}
                </th>
            {/for}
        </tr>
        </thead>
        <tbody id="table-body">
        {#for item in state.page.items}
            <tr class="jtags-table__row">
                {#if config.showCheckbox}
                    <td class="jtags-table__cell jtags-table__cell--checkbox"><input type="checkbox" name="select-item"
                                                                                     value="{util:property(item, config.idField)}"/>
                    </td>
                {/if}

                {#for column in config.columns}
                    <td class="jtags-table__cell">{util:property(item, column.key)}</td>
                {/for}
            </tr>
        {#else}
        <tr>
            <td class="jtags-table__cell"
                colspan="{#if config.showCheckbox}{config.columns.size + 1}{#else}{config.columns.size}{/if}">
                No data found
            </td>
        </tr>
        {/for}
        </tbody>
    </table>

    <div class="jtags-table__footer">
        <div class="jtags-table__page-size">
            {#if config.pageSizeOptions.size > 1}
            <label for="pageSize">Show</label>
            <select id="pageSize"
                    name="size"
                    hx-get="{config.baseUrl}?sort={state.sortBy}&asc={state.ascending}&page=1"
                    hx-include="#table-actions, this"
                    hx-target="#table-container"
                    hx-swap="outerHTML"
                    hx-trigger="change"
                    hx-push-url="true"
            >
                {#for size in config.pageSizeOptions}
                <option value="{size}" {#if size == state.page.pageSize}selected{/if}>{size}</option>
                {/for}
            </select>
            <span>entries</span>
            {/if}
        </div>

        {#jtagsPagination state=state baseUrl=config.baseUrl showLabels=config.showPaginationLabels iconBasePath=config.iconBasePath /}
    </div>
</div>

<div id="jtags-modal" class="jtags-modal jtags-hidden">
    <div class="jtags-modal__content">
        <p id="jtags-modal-message"></p>
        <button id="jtags-modal-confirm-btn"
                onclick="confirmAction()">
            Confirm
        </button>
        <button onclick="closeModal()">Cancel</button>
    </div>
</div>
